* body {
  box-sizing: border-box;
  background: rgb(34, 34, 34);
  background-image:url(images/Rectangle\ 1.png);
 background-position:center;
 background-repeat: no-repeat;
  font-family: font-family: 'Readex Pro', sans-serif;
}
html body header li a {
  margin: 0;
  padding: 0;
}
nav,
ul,
li,
a {
  display: flex;
}
main {
    max-width: 1500px;
}
header a {
    font-size:0.9em;
    text-decoration:none;
    color: white;
    text-transform:uppercase;
}
ul,
li,
a {
    justify-content:space-between;
    margin-bottom:20px;
    margin-right:40px;
}
.insta {
    margin: auto;
    margin-right:30px;
    margin-top:20px;
}
.thumb {
    font-size:30px;
}
section {
    position: relative;
    margin-bottom:10px;
}
.osh {
    font-size:8rem;
    text-transform:uppercase;
    margin-bottom:10px;
    color: white;
}span {
    color:white;
}