* body {
  box-sizing: border-box;
  background: rgb(41, 41, 41);
  font-family: font-family: 'Readex Pro', sans-serif;
}
html body header li a {
  margin: 0;
  padding: 0;
}
nav,
ul,
li,
a {
  display: flex;
}
main {
    max-width: 1500px;
}
header a {
    font-size:0.9em;
    text-decoration:none;
    color: white;
    text-transform:uppercase;
}
ul,
li,
a {
    justify-content:space-between;
    margin-bottom:20px;
    margin-right:40px;
}
.insta {
    margin: auto;
    margin-right:30px;
    margin-top:20px;
}
.thumb {
    font-size:30px;
}

